<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none">
  <test name="Test">
    <classes>
      <class name="org.ssfdc.api.StartPageTest"/>
      <class name="org.ssfdc.api.ApiResponseTest"/>
      <class name="org.ssfdc.api.RegistrationPageTest"/>
      <class name="org.ssfdc.api.PersonDetailsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
